<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Read (All)</title>
</head>
<body>
    <h1 class="text_center">Show All Users :</h1>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Full Name</th>
                <th>Email</th>
                <th>Created_at</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users : %}
            <tr>
                <td> {{ user.id }} </td>
                <td>{{ user.first_name }} {{ user.last_name }}</td>
                <td>{{ user.email }}</td>
                <td> {{ user.created_at.strftime("%b %d %Y") }} </td>
                <td><a href="/users/{{ user.id }}">Show</a> | <a href="/users/edit/{{ user.id }}">Edit</a> | <a href="">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <a href="/user/new">Add a New User</a>
</body>
</html>