<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Read (One)</title>
</head>
<body>
    <div>
        <h5 class="col-11 text-right"><a href="/users">Home</a></h5>
        <h1 class="text-left">User {{ user.id }} </h1>
        <div class="container">
            <p>Full Name : {{ user.first_name }} {{ user.last_name }}</p>
            <p>Email : {{ user.email }} </p>
            <p>Created On : {{ user.created_at.strftime("%b %d %Y") }} </p>
            <p>Last Updated On : {{ user.updated_at.strftime("%b %d %Y") }} </p>
            <p><a href="/users/edit/{{ user.id }}">Edit</a> | <a href="/users/destroy/{{ user.id }}">Delete</a></p>
        </div>
    </div>
</body>
</html>